<h1>Tou lartik</h1>
<ul>
  <% @articles.each do |article| %>
    <li><%= link_to article.name, article_path(article) %></li>
  <% end %>
</ul>

<%= link_to 'Creer enn nouvo lartik', articles_new_path %>
